@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
	--primary-color: #1885dc;
}
body {
    line-height: 1.74;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: 'Roboto', sans-serif;
    color: #696969;
    position: relative;
    background-color: #fff;
}
a {
    text-decoration: none !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none ;
    position: absolute;
    background-color: #f5f5f5;
    list-style: none ;
    z-index: 1 ;
 

}
.dropdown:hover .dropdown-content {
    display: block ;
 

}
.dropdown-content a {
    color: black !important ;
    text-decoration: none ;
}
 .logo a img { 
   max-height: 40%;
    max-width: 40%;
    width: auto!important;
    height: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 25px;
}


.text-detail h1{
    position: absolute;
     text-align: center;
    left: 49%;
    top: 35%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 999 ;
}
 .text-detail h3 {
    position: absolute;
     text-align: center;
    left: 48%;
    top: 41%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 999 ;
 }
 .main-menu {
    background-color: #2e2750 ;
    padding: 0 ;
 }
 .main3 img  {
    width: 500px;
    height: 270px;
   
 }
 .main1 {
    color: white ;
 }
 .main2 {
   margin-top: 5px;
   color: white ;
 }
 .main4{
    text-align: center ;
 }
 
 #header{
    width: 100%;
    background:#211C3A ;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    background: transparent;
    position: absolute;
    z-index: 9999;
    padding-top: 20px;
    padding-left: 15% ;
    padding-right: 15%;
    border-radius: 6px;
 }
 .nav-detail {
    background-color: #211C3A !important;
  
}
 .banner img {
    width: 100%;
    height: 50%;
 }
 .pagehome2 img {
    width: 30%;
    height: 20%;
 }
 .main17 img {
    width: 80px ;
    height: 50%;
 }
 .scroll1 {
    border-bottom: solid 2px white  ;
    padding: 6px;
 }
 .scroll2 {
    overflow-y: scroll;
}

.menu-text li a {
  color: white !important ;
} 

.main30 {
   position: absolute ;
    top: 93%;
    left: 19%;
    z-index: 200 ;
    display: inline-block;
}
.main31 {
    position: absolute ;
    top: 94%;
    left: 20%;
    z-index: 100 ;
    max-width:68%;
    height:auto;
}
.main30 button {
    display: inline-block;
    margin-right: 3px;
    padding: 10px 15px;
    min-height: 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.main32 {
    margin-top: 15px;
}

.main38 img {
width: 100% ;
height: 100%;
}
.image-footer {
    width: 100%;
    height: 900px;
}
.image-footer img {
   width: 100%;
    height: 100% ;
    position: relative 
}
.icon-css img {
 width: 100% ;
height: 100%;
}
.icon-css {
    width: 70px;
    height: 80px;
}
.pdf-css {
    border: solid 1px ;
    border-radius: 4px;
    margin: 10px ;
    padding: 10px;
}
.form-css {
     border: solid 1px ;
    border-radius: 4px;
    margin: 10px ;
    padding: 10px;
     background-image:linear-gradient(to bottom,#358563 0%,#3F9A2B 100%,#ABCF13 100%);
}
.form-2 {
    margin: -20px 0 0 0 ;
}
.wrap {
    background-color:#212121 ;
    margin-top: -12px;
    padding: 30px;

}
.a ul li a{
 color: white ;
}
.phone-big  {
    position: relative ;
    
}
.phone1 {
    width: 200px !important ;
    border-radius: 20px;
}

.phone-css i {
 position: absolute ;
 top: 12px;
 left: 7px;
  width: 100% ;
  height: 100% ;
}
.phone3 {
    position:fixed;
    top: 93%;
    left:0;
    z-index: 9999;
}

  
.phone7 {
    width: 250px !important ;
    border-radius: 20px;
     background-image:linear-gradient(to bottom,#358563 0%,#3F9A2B 100%,#ABCF13 100%);
}
.phone5 {
     position:fixed;
    top: 93%;
    left:42%;
    z-index: 9999;
}
.bt1 {
    text-align: center ;
    margin: 10px 0 0 0 ;
}
.bt2 {
    border-radius: 20px;
    background-color: #358563 ;
}
.hhh h2 {
text-align: center ;
color: #358563;
font-size: 25px;
}
.main5 {
    margin: 15px 0 0 0 ;
}
.text-css {
    color: #FFFFFF;
}
.text-css1 {
    color: #358563;
}
.banner-smal {
    background:#211C3A ; 
}
.abc1 {

}
.bn1 img {
    width: 100% ;
    height: 100%;

}
.bn1 {
    width: 100%;
    height: 600px;
}
.detail-banner {
    position: absolute;
    top: 46%;
    left: 40%;
}
.x1{
    margin-top: 20px;
    border-radius: 10px;
}
.image img {
    width: 100% ;
    height: 100%
}
.image {
    width: 100%;
    height:auto ;
}
.main-css1 {
    margin-top: -40px;
    padding: 25px;
}
.img-1 img {
    width: 100% ;
    height: 100%;
}
.nav-item2 {
    width: 33.33% ;
    text-align: center;
    margin-top: 20px;
    color: black !important ;
}
@media  (max-width:991px ) {
    .text-detail h1 {
        font-size: 20px;
        color: black;
    }
     .text-detail h3 {
        font-size: 14px; 
        color: black;
    }
      .btn-lg {
        font-size: 14px ;
           
      }
      .st-mb  img{
        width: 100%;
        height: 100% ;
        display: none;
    }
    .detail-banner{
     position: absolute;
    top: 46%;
    left: 29%;
}
.main38 img {
    display: none ;
}

    }
    
   
    
    .main3 img {
        width: 100%;
    }



.wrap1 {
    width:100%;
    height: 700px;
 background-image:linear-gradient(to bottom,#358563 0%,#3F9A2B 100%,#ABCF13 100%);
}
.bg-da img {
    width: 100%  ;
    height: 100% ;

}
.bg-da {
    height:450px;
}
.text-css3{
    font-size: 14px ;
  color: #ffffff;
}
